{% extends "layout.html" %}

{% block body %}
    <h3>Total registered for sports</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Sport</th>
                <th>Residence</th>

            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ registrant.id }}</td>
                    <td>{{ registrant.firstname }}</td>
                    <td>{{ registrant.lastname }}</td>
                    <td>{{ registrant.gender }}</td>
                    <td>{{ registrant.sport }}</td>
                    <td>{{ registrant.redidence }}</td>
                    <td><button id="{{ registrant.id }}">Delete</button></td>
                    <td><button id="{{ registrant.id }}">Edit</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}